<div class="container">
    <div class="col-md-6">
        <% @posts.order(id: :desc).limit(15).each do |post|%>
            <div class=" clearfix">
            <h2>
                <%= link_to post.title, post %><br>
                <small class="author">Submitted <%= time_ago_in_words(post.created_at) %> ago</small>
            </h2>
            </div>
        <% end %>
        <%= paginate @posts %>
    </div>
    <div class="col-md-6">
        <h1>Saved posts:</h1>
        <%= @saved_posts.order(created_at: :desc).each do |post|%>
        <%= link_to post.title, post %><br>
        <% end %>
    </div>  
    
</div>