<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @post.artist %>
</p>

<p>
  <strong>Date:</strong>
  <%= @post.date %>
</p>

<p>
  <strong>Medium:</strong>
  <%= @post.medium %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @post.genre %>
</p>

<p>
<strong>Link:</strong>
<%= @post.link%>
</p>



<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<%= simple_form_for [@post, Comment.new] do |f| %>
 <div class="field">
  <%= f.text_area :content, class: "form-control" %>
 </div>
 <br>
 <%= f.submit "Add Comment", class: "btn btn-primary" %>
<% end %>

<ul>
<%= render :partial => "comments/comment", :collection => @post.comments %>
</ul>