<!DOCTYPE html>
<html>
  <head>
    <title>VinylFinal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <div id="logo" class="navbar-brand"><%= link_to "Artalks", root_path %></div>
          <ul class="nav navbar-nav navbar">
              <li><%= link_to 'Create New Post', new_post_path %></li>
          </ul>
          <ul>
          <%= form_tag(search_page_path, :method => "get",   class: 'navbar-form navbar-left') do %>  
            <div class="input-group">  
              <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
              <div class="input-group-btn">  
                <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
              </div>  
            </div>  
          <% end %>
          </ul>
        <nav class="collapse navbar-collapse navbar-ex1-collapse">
          <% if user_signed_in? -%>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
            </ul>
          <% else -%>
            <ul class="nav navbar-nav pull-right">
              <li><%= link_to 'Sign up', new_user_registration_path %></li>
              <li><%= link_to 'Sign in', new_user_session_path %></li>
            </ul>
          <% end -%>
        </nav>
      </div>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
